<!doctype html>
<html lang="en" ng-app="demo.app" ng-strict-di ng-controller="DemoCtrl">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Demo</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="page-header"><h1>Form Demo</h1></div>
    <div class="row">
      <form name="form" class="col-sm-6" ng-submit="onSubmit(form)" novalidate>

        <div class="row">
          <bs:form-group model="movie.title" class="col-sm-8">
          </bs:form-group>
          <bs:form-group model="movie.genre" class="col-sm-4">
          </bs:form-group>
        </div>

        <bs:input
          type="text"
          required
          pattern="^[a-z]+$"
          ng-model="model.name"
          ng-minlength="3"
          ng-maxlength="30"
          messages="{pattern: 'must only contain lowercase characters'}"></bs:input>

        <bs:input
          type="email"
          required
          ng-model="model.email"></bs:input>

        <bs:input
          type="number"
          min="12" max="99"
          label="Your age"
          ng-model="model.age"></bs:input>

        <bs:select
          ng-options="colour for colour in colours"
          ng-model="model.colour"><option value="">-- choose colour --</option></bs:select>

        <bs:submit></bs:submit>
      </form>

      <div class="col-sm-6"><pre>{{model | json}}</pre></div>
    </div>
  </div>
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./node_modules/angular-messages/angular-messages.js"></script>
  <script src="./dist/ui-bsm-input-errors.js"></script>
  <script src="./dist/ui-bsm-form-builder.js"></script>
  <script>
    angular.module('demo.app', [
      'ui.bootstrap.more.input-errors',
      'ui.bootstrap.more.form-builder',
    ])
      .controller('DemoCtrl', ["$scope", function($scope) {
        $scope.model = {};
        $scope.colours = ['black', 'white', 'red', 'green', 'blue'];

        $scope.onSubmit = function(form) {
          if (form.$invalid) return;
          alert("Saving ...");
        };
      }]);
  </script>
</body>
</html>

<!--

    <div class="form-group">
        <div class="row">
            <div class="col-sm-8">
                <label class="control-label">Movie title</label>
                <input type="text" class="form-control" name="title" />
            </div>

            <div class="col-sm-4 selectContainer">
                <label class="control-label">Genre</label>
                <select class="form-control" name="genre">
                    <option value="">Choose a genre</option>
                    <option value="action">Action</option>
                    <option value="comedy">Comedy</option>
                    <option value="horror">Horror</option>
                    <option value="romance">Romance</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Director</label>
                <input type="text" class="form-control" name="director" />
            </div>

            <div class="col-sm-4">
                <label class="control-label">Writer</label>
                <input type="text" class="form-control" name="writer" />
            </div>

            <div class="col-sm-4">
                <label class="control-label">Producer</label>
                <input type="text" class="form-control" name="producer" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Website</label>
                <input type="text" class="form-control" name="website" />
            </div>

            <div class="col-sm-6">
                <label class="control-label">Youtube trailer</label>
                <input type="text" class="form-control" name="trailer" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Review</label>
        <textarea class="form-control" name="review" rows="8"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Rating</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="rating" value="terrible" /> Terrible
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="watchable" /> Watchable
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="best" /> Best ever
            </label>
        </div>
    </div>
  -->
