<!doctype html>
<html lang="en" ng-app="demo.app" ng-strict-di ng-controller="DemoCtrl">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Demo</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="page-header"><h1>Form Demo</h1></div>
    <div class="row">
      <form name="form" class="col-sm-8" ng-submit="onSubmit(form)" novalidate>

        <div class="row">
          <input type="text" required
            ng-model="movie.title"
            ng-minlength="2"
            ng-maxlength="50"
            bs-form-group="{wrapClass: 'col-sm-8 has-feedback', label: 'Movie title', labelClass: 'test'}" />

          <select required
            ng-model="movie.genre"
            ng-options="genre.name as genre.label for genre in genres"
            bs-form-group="{wrapClass: 'col-sm-4'}"><option value="">-- Please select --</option></select>
        </div>

        <div class="row">
          <input type="text" ng-model="movie.director" bs-form-group="{wrapClass: 'col-sm-4'}" />
          <input type="text" ng-model="movie.writer" bs-form-group="{wrapClass: 'col-sm-4'}" />
          <input
            type="number"
            ng-model="movie.budget"
            required
            min="1"
            max="200000000"
            bs-form-group="{wrapClass: 'col-sm-4', prefixIcon: 'fa fa-dollar'}" />
        </div>

        <input type="url" ng-model="movie.url" required bs-form-group="{label: 'Website'}" />
        <input type="url" ng-model="movie.trailer" bs-form-group />
        <textarea ng-model="movie.review" rows="8" required bs-form-group></textarea>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" ng-model="movie.rating" value="terrible" /> Terrible
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="movie.rating" value="watchable" /> Watchable
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="movie.rating" value="best" /> Five Stars!
          </label>
        </div>

        <bs:submit></bs:submit>

      </form>

      <div class="col-sm-4"><pre>{{movie | json}}</pre></div>
    </div>
  </div>
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./dist/ui-bsm-input-errors.js"></script>
  <script src="./dist/ui-bsm-form-builder.js"></script>
  <script>
    angular.module('demo.app', [
      'ui.bootstrap.more.input-errors',
      'ui.bootstrap.more.form-builder',
    ])
      .controller('DemoCtrl', ["$scope", function($scope) {
        $scope.movie = {rating: 'terrible'};
        $scope.genres = [
          {name: "action", label: "Action" },
          {name: "comedy", label: "Comedy" },
          {name: "horror", label: "Horror" },
          {name: "romance", label: "Romance" }
        ];

        $scope.onSubmit = function(form) {
          if (form.$invalid) return;
          alert("Saving ...");
        };
      }]);
  </script>
</body>
</html>

